.hero-second {
    position: relative;
    width: 100%;
    height: 70vh;
}
.mask-second {
    width: 100%;
    height: 100%;
}
.mask-second img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center top;
}
.mask-second::after{
    content: '';
    background-color: #0008;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.second-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    text-align: center;
}
.second-content p, h1 {
    text-transform: uppercase;
}

.second-content p{
    font-size: 1.5rem;
    font-weight: 200;
}

.second-content h1{
    font-size: 2.5rem;
    padding: 0.6rem 0 1.5rem ;
    font-weight: 800;
}

.btn{
    margin-right: .5rem;
    border-radius: 0;
}

@media screen and (max-width: 640px) {
    .second-content h1{
        font-size: 3rem;
    }
    .second-content p{
        font-size: 1.4rem;
    }
}